* {
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

body > div {
    padding-left: 25%;
    padding-right: 25%;
}


.header {
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    padding-top: 16px;
    padding-bottom: 8px;
    align-items: center;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 16px;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    color: #F9FAF8;
    align-items: center;
    gap: 24px;
}

.section-one-details {
    flex: 1;
}

.section-one-image {
    display: flex;
    background-color: grey;
    align-self: stretch;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.section-one-details-header {
    font-size: 48px;
    font-weight: 900;
}
.section-one-details-details {
    font-size: 18px;
    padding-bottom: 16px;
}

.section-one-button {
    background-color: #3882F6;
    padding: 8px;
    width: 100px;
    justify-self: flex-start;
    text-align: center;
    font-weight: 600;
    border-radius: 8px;
}

.section-two {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.section-two-header {
    display: flex;
    padding: 42px;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 42px;
    flex-wrap: wrap;
    gap: 60px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 170px;
    gap: 8px;
    color: #434f5e;
    font-size: 18px;
}

.actual-box {
    width: 170px;
    height: 170px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.section-three {
    height: 400px;
    background-color: #E5E7EB;
    align-content: center;
}

.quote {
    color: #434f5e;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-name {
    text-align: right;
    font-weight: 600;
    font-size: 24px;
    color: #303a46;
}