* {
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

body > div {
    padding-left: 25%;
    padding-right: 25%;
}


.header {
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    padding-top: 16px;
    padding-bottom: 8px;
    align-items: center;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 16px;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    color: #F9FAF8;
    align-items: center;
    gap: 24px;
}

.section-one-details {
    flex: 1;
}

.section-one-image {
    display: flex;
    background-color: grey;
    align-self: stretch;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.section-one-details-header {
    font-size: 48px;
    font-weight: 900;
}
.section-one-details-details {
    font-size: 18px;
    padding-bottom: 16px;
}

.section-one-button {
    background-color: #3882F6;
    padding: 8px;
    width: 100px;
    justify-self: flex-start;
    text-align: center;
    font-weight: 600;
    border-radius: 8px;
}


.boxes-container {
    display: flex;
}
